@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Roboto&display=swap');

$main-font: 'Public Sans', sans-serif;

html {
    height: 100%;
}

body {
    font-family: $main-font;
    min-height: 100%;
    margin: 0;
    padding: 0;
}