@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

$main-font: 'Noto Sans JP', sans-serif;
$second-font: 'Public Sans', sans-serif;
$primary-color: #0099ff;
$primary-color-dark: #0073c0;
$second-color: #f3f4f5;
$very-large-screen: 1600px;
$large-screen: 900px;
$medium-screen: 600px;

html {
    height: 100%;
}

body {
    font-family: $main-font;
    min-height: 100%;
    margin: 0;
    padding: 0; 
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1{
    text-transform: uppercase;  
    font-size: 60px;
    font-weight: 900;
    color: white;
    @media screen and (max-width: $medium-screen){
        font-size: 40px; 
    }
} 
 
h2{ 
    font-size: 30px;     
    font-weight: 400; 
    @media screen and (max-width: $medium-screen){
        font-size: 20px; 
    }
} 

.one-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    margin: 0px 25px ;
    color: $primary-color;
    display: flex;
    svg{ 
        margin: auto;
    }
}

.username{
    font-weight: bold;
    text-transform: capitalize;
}

.icon:hover{
    cursor: pointer;
    color: $primary-color-dark;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: $second-color; 
}

::-webkit-scrollbar-thumb {
    background-color: grey;  
}        
