.message{
    font-family: $second-font;
    margin: 5px 0px; 
    .username{
        margin-left: 5px;
        margin-right: 50%;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.isAuthor{
    background-color: $primary-color;
    color: white;
    padding: 10px;
    margin-left: 50%;
    margin-right: 5px;
    border-radius: 10px 10px 0px 10px;
}

.isNotAuthor{  
    width: 100%;
    background-color: $second-color;
    padding: 10px;
    margin-left: 5px;
    width: 50%;
    border-radius: 10px 10px 10px 0px; 
}

.date{
    font-size: 10px; 
    text-align: center;
    color: gray;
} 

.align-avatar{
    display: flex;
    align-items: flex-end; 
} 
 